MONGODB_URI=mongodb+srv://balotann61_db_user:Ckw6sLZk1majF7fq@cluster0.tiryzm1.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
ADMIN_PASSWORD=hai-admine
CLOUDINARY_CLOUD_NAME=diguup8kx
CLOUDINARY_API_KEY=188482562531721
CLOUDINARY_API_SECRET=ZSSI8pNFeqqAHDdwEBB1iojeNvM
PORT=5000
FRONTEND_URL=https://balota-natan-utcn.github.io
